{% extends 'base.html' %}
{% load static %}

{% block title %} {{room_name }} {% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'css/room_chat.css' %}"> {% endblock %}

{% load static %}

{% block content %}

<input type="hidden" id="me" value="{{ username }}">

<div id="chat-log">

    {% for message in all_messages.all %}

    {% if username == message.handle %}

        <div class="message sender-message">{{message.handle}}:{{ message.message }}
        <br>
        {{message.timestamp}}</div>

    {% else %}

        <div class="message receiver-message">{{message.handle}}:{{ message.message }}
        <br>
        {{message.timestamp}}</div>

    {% endif %}

    {% endfor %}

</div>

<input id="chat-message-input" type="text" class="mess-input" placeholder="Write here..."></input>
<input id="chat-message-submit" type="button" class="mess-input" value="Send">

    {{ room_name|json_script:"room-name" }}
    {{ request.user.username|json_script:"username" }}

<script src="{% static 'js/chat_room.js' %}"></script>

{% endblock %}