{% extends 'base.html' %}
{% load static %}

{% block title %}Create Room Chat{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'css/create_room_chat.css' %}">{% endblock %}

{% block content %}

<div class="wrapper">
  <div class="room-create">
    <form method="post" action="{% url 'create_room_chat' %}">
      {% csrf_token %}
    <h2>Create Room Chat</h2>
    <input placeholder="Room Name" name="room_name"></input>
  <button type="submit">Create</button>
  </form>
  </div>
</div>

{% endblock %}