{% extends 'base.html' %}
{% load static %}

{% block title %}Create Room Chat{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'css/create_room_chat.css' %}">{% endblock %}
{% block content %}

<div class="wrapper">
  <div class="room-create">
    <form method="post" action="{% url 'create_room_chat' %}">
      {% csrf_token %}
    <h2>Create or Join Room Chat</h2>
    <input placeholder="Room Name" name="room_name"></input>
  <button type="submit">Join/Create</button>
  </form>
  </div>
</div>

<div class="description">
  <i id="info-menu" class="fa-solid fa-circle-info"></i>
  <div id="info">
  <ul>
    <li>
      Write room chat name inside input.
    </li>
    <li>
      If room chat exist you will join the existing chat otherwise you will create a new one with your chosen name.
    </li>
    <li>
      A room chat that is not used for more than 10 days will be automatically deleted.
    </li>
  </ul>
  </div>
</div>

<img id="robot" src="{% static 'img/robot.png' %}">

<div id="my-info-container">
  <div class="my-info"><p>Check out my projects and more <a href="https://www.github.com/DM880" style="font-size: 20px;" target="_blank">here</a></p></div>
  <div class="triangle"></div>
</div>
<img id="robot_after" src="{% static 'img/robot_after.png' %}">



<script src="{% static 'js/create_room_chat.js' %}"></script>

{% endblock %}