{% extends 'base.html' %}

{% load static %}

    {% block title %}Sign{% endblock %}

        {% block css %}<link rel="stylesheet" href="{% static 'css/sign.css' %}">{% endblock %}

{% block content %}

  {% if message %}<div style="position:absolute;top:0;"><h3 style="color:blue;">{{ message }}</h3></div>{% endif %}

<div id="wrap-div" class="wrap">
  <div class="center-login-div">
    <h2 class="sign-txt signin">Sign In</h2>
  <div class="login-div">
<form action="{% url 'sign_in' %}" method="POST">
  {% csrf_token %}
  <input name="username" placeholder="username" required="true"></input>
  <input name="password" placeholder="password" type="password" required="true"></input>
  <br>
  <a href="" style="font-size:20px;font-family: 'Saira Condensed', sans-serif;">Forgotten Password?</a>
  <br>
  <button id="btn-signin" type="submit" title="Sign In">Sign In</button>
    </form>
  </div>
</div>
<hr>
  <div class="line"></div>
  <div class="create-div">
    <h2 style="margin-top:-50px;margin-bottom: 50px;" class="sign-txt">Sign Up</h2>
    <form action="{% url 'sign_up' %}" method="POST">
      {% csrf_token %}
      <input name="username_signup" placeholder="username" required="true"></input>
      <input name="email_signup" placeholder="email" type="email" required="true"></input>
      <input name="password1" placeholder="password" type="password" required="true"></input>
      <input name="password2" placeholder="confirm password" type="password" required="true"></input>
    <br>
<button id="btn-signup" type="submit" title="Create Account">Sign Up</button>
    </form>
  </div>
</div>

<script src="{% static 'js/sign.js' %}"></script>

{% endblock %}
