body{
  background-color: #5271FF;
}

.wrapper{
  width:100%;
}

.room-create{
  background-color: #EEEEEE;
  width: 500px;
  margin: auto;
  margin-top: 10%;
  border: solid 4px red;
  border-radius: 5px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family:'Roboto',sans-serif;
  color: #8A39E1;
}

.room-create h2{
  margin-bottom: 50px;
  font-weight: bold;
}

.room-create button{
  color: white;
  background-color: #06FF00;
  border:none;
  padding:5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.room-create button:hover{
  background-color:#54E346;
}

.room-create input{
  height: 38px;
}

/*Info*/

.fa-circle-info{
  font-size: 45px;
  margin-left: 10px;
}

#info{
  background-color: #ECECEC;
  margin-left: 20px;
  border-radius: 5px;
  width: 90%;
  color: #5463FF;
  display: none;
  z-index: 99;
}

.description{
  margin-top: 100px;
  width: auto;
  color: white;
  font-weight: bold;
}

.description li{
  margin-bottom: 20px;
}

/*Robot*/

img{
  position: absolute;
  bottom: 0;
  z-index: -1;
  height: 300px;
  right: 10px;
}

#robot-container{
  width: 350px;
  height: 450px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -9;
}

#robot_after{
  display: none;
  right: 60px;
}

#my-info-container{
  display: none;
}

.my-info{
  position:absolute;
  bottom: 330px;
  right: 30px;
  padding: 10px;
  background-color: white;
  width: 200px;
  border-color: solid 1px black;
  border-radius: 5px;
}

.triangle{
  position:absolute;
  bottom: 310px;
  right: 60px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid white;
}

/*Phone*/

@media screen and (max-width: 520px){
  .wrapper, .room-create{
    width:100%;
    margin-top: 40%;
  }

  button{
    margin-top: 10px;
  }
}