body{
  background-color: #5271FF;
}

img{
  position: absolute;
  right: 10px;
  bottom: 0;
  z-index: -1;
}

.wrapper{
  width:100%;
}

.room-create{
  background-color: #EEEEEE;
  width: 500px;
  margin: auto;
  margin-top: 10%;
  border: solid 4px red;
  border-radius: 5px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family:'Roboto',sans-serif;
  color: #8A39E1;
}

.room-create h2{
  margin-bottom: 50px;
  font-weight: bold;
}

.room-create button{
  color: white;
  background-color: #06FF00;
  border:none;
  padding:5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.room-create button:hover{
  background-color:#54E346;
}

.room-create input{
  height: 38px;
}

.description{
  margin-top: 100px;
  width: auto;
  color: white;
  font-weight: bold;
}

.description li{
  margin-bottom: 20px;
}

#info{
  background-color: #ECECEC;
  margin-left: 20px;
  border-radius: 5px;
  width: 90%;
  color: #5463FF;
  display: none;
  z-index: 99;
}

.fa-circle-info{
  font-size: 45px;
  margin-left: 10px;
}


@media screen and (max-width: 520px){
  .wrapper, .room-create{
    width:100%;
    margin-top: 40%;
  }

  button{
    margin-top: 10px;
  }
}