@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@700&display=swap');

body{
  background-color: #5463FF;
}

.wrapper{
  width:100%;
}

.room-create{
  width: 500px;
  margin: auto;
  margin-top: 10%;
  border-radius: 5px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'Saira Condensed', sans-serif;
  color: #F1D00A;
}

.room-create h2{
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 60px;
}

.room-create button{
  color: white;
  background-color: #85EF47;
  border:none;
  padding:5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.room-create button:hover{
  background-color:#54E346;
}

.room-create input{
  height: 38px;
  border-radius: 5px;
  border: none;
}

.room-create input:focus{
  outline: none !important;
  box-shadow: 0 0 10px #F1D00A;
}

/*Info*/

.fa-circle-info{
  font-size: 45px;
  margin-left: 10px;
}

#info{
  background-color: #ECECEC;
  margin-left: 20px;
  border-radius: 5px;
  width: 70%;
  color: #5463FF;
  display: none;
  z-index: 99;
}

.description{
  margin-top: 100px;
  width: auto;
  color: white;
  font-weight: bold;
}

.description li{
  margin-bottom: 20px;
}

/*Robot*/

img{
  position: absolute;
  bottom: 0;
  z-index: -1;
  height: 300px;
  right: 10px;
  cursor: pointer;
}

#robot_after{
  display: none;
  right: 60px;
}

#my-info-container{
  display: none;
}

.my-info{
  position:absolute;
  bottom: 330px;
  right: 30px;
  padding: 10px;
  background-color: white;
  width: 200px;
  border-color: solid 1px black;
  border-radius: 5px;
}

.triangle{
  position:absolute;
  bottom: 310px;
  right: 60px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid white;
}

/*Phone*/

@media screen and (max-width: 520px){
  .room-create{
    width:100%;
  }

  button{
    margin-top: 10px;
  }
}