@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@700&display=swap');

html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
  background-color: #323232;
  font-family: 'Saira Condensed', sans-serif;
}

.reset-txt{
  margin-top:-50px;
  margin-bottom: 30px;
  text-shadow: -2px -2px 2px #2666CF, 2px -2px 2px #2666CF, -2px 2px 2px #2666CF, 2px 2px 2px #2666CF;
  font-weight: bold;
  font-size: 60px;
  letter-spacing: 3px;
}


.wrap{
  height: 250px;
  width: 500px;
  text-align: center;
}

.reset-div{
  width: 100%;
  align-items: center;
  margin:auto;
}

input{
  margin-bottom: 10px;
  border:none;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
}

button{
  border:solid transparent;
  font-weight: bold;
  padding: 10px;
  transition: all 0.3s ease;
  color: white;
  border-radius: 5px;
  font-size: 25px;
  margin-top: 15px;
  letter-spacing: 3px;
}

#btn-reset{
  background-color: #2666CF;
}

#btn-reset:hover{
  color: #2666CF;
  background-color: white;
  border-color: #2666CF;
}

.reset-div input:focus{
  outline: none !important;
  box-shadow: 0 0 10px #2666CF;
}

@media only screen and (max-width:500px){
  .reset{
    width: 100%;
    position:relative;
    text-align: center;
  }

  .wrap{
    width: 100%;
    height: 650px;
  }
}