.message{
  border: none;
  border-radius: 10px;
  background-color: #006AFF;
  width: auto;
  max-width: 340px;
  height: auto;
  word-break: break-all;
  padding: 10px;
  color: white;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.message:last-child{
  margin-bottom: 20px;
}

.sender-message{
  background-color: #006AFF;
}

.receiver-message{
  background-color: grey;
}

.time-mess{
  margin-top: -15px;
  margin-bottom:-10px;
  opacity:0.5;
}

.mess-input{
  position:fixed;
  bottom: 20px;
  right: 50px;
}