@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@700&display=swap');


html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
  background-color: #323232;
}

.line{
  border-right:solid 3px;
  height: 100%;
  border-color: white;
}

.signin{
  margin-top:-50px;
  margin-right:50px;
  margin-bottom:50px;
  text-shadow: -2px -2px 2px #7952B3, 2px -2px 2px #7952B3, -2px 2px 2px #7952B3, 2px 2px 2px #7952B3;
}

.signup{
  margin-top:-50px;
  margin-bottom: 50px;
  text-shadow: -2px -2px 2px #FFC107, 2px -2px 2px #FFC107, -2px 2px 2px #FFC107, 2px 2px 2px #FFC107;
}

.sign-txt{
  font-weight: bold;
  font-size: 60px;
  font-family: 'Saira Condensed', sans-serif;
  letter-spacing: 3px;
}

.phone{
  width:100%;
}

.wrap{
  display:flex;
  height: 250px;
  width: 500px;
  text-align: center;
}
.login-div{
  margin:30% auto;
  height: 50%;
  width:100%;
  padding-right: 50px;
}

.create-div{
  width: 50%;
  align-items: center;
  margin:auto;
  padding-left: 50px;
}

.center-login-div{
  width: 50%;
  height:100%;
}

.center-login-div h2{
  margin-bottom: -30px;
}

input{
  margin-bottom: 10px;
  border:none;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
}

.login-div input:focus{
  outline: none !important;
  box-shadow: 0 0 10px #7952B3;
}


button{
  border:solid transparent;
  font-weight: bold;
  padding: 10px;
  transition: all 0.3s ease;
  color: white;
  border-radius: 5px;
  font-size: 25px;
  margin-top: 15px;
  font-family: 'Saira Condensed', sans-serif;
  letter-spacing: 3px;
}

#btn-signin{
  background-color: #7952B3;
}

#btn-signin:hover{
  color: #7952B3;
  background-color: white;
  border-color: #7952B3;
}

#btn-signup{
  background-color: #FFC107;
}

#btn-signup:hover{
  color: #FFC107;
  background-color: white;
  border-color: #FFC107;
}

.create-div input:focus{
  outline: none !important;
  box-shadow: 0 0 10px #FFC107;
}

hr{
  display:none;
}

@media (max-width:500px){
  .center-login-div{
    width: 100%;
    position:relative;
    text-align: center;
    margin-bottom: -70px;
  }

  .login-div{
    width: 100%;
    padding: 0;
  }

  .signin{
    margin-top: 50px;
    margin-bottom: -40px;
    margin-right: 0;

  }

  .line{
    display: none;
  }

  .create-div{
    width: 100%;
    position:relative;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
  }

  hr{
    display: block;
    color: white;
    margin: 50px;
    border: none;
  }

}