html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-color: #EDEDED;
}

.phone{
  width:100%;
}

.wrap{
  display:flex;
  height: 250px;
  width: 500px;
  border: solid 2px grey;
  border-radius: 5px;
  text-align: center;
  background-color: #B4AEE8;
}

  .login-div{
    margin:30% auto;
    height: 50%;
    width:100%;
  }

.create-div{
  width: 50%;
  align-items: center;
  margin:auto;
}

.center-login-div{
  width: 50%;
  border-right: solid 1px grey;
  height:100%;
  background-color: #FFDF6B;
}

input{
  margin-bottom: 10px;
}

button{
  border:solid transparent;
  font-weight: bold;
  padding: 7px;
  transition: all 0.3s ease;
  color: white;
  border-radius: 5px;
}

#btn-signin{
  background-color: #7952B3;
  margin-top:10px;
}

#btn-signin:hover{
  color: #7952B3;
  background-color: white;
  border-color: #7952B3;
}

#btn-signup{
  background-color: #FFC107;
}

#btn-signup:hover{
  color: #FFC107;
  background-color: white;
  border-color: #FFC107;
}

@media (max-width:500px){
  .center-login-div{
    width: 100%;
    position:relative;
    text-align: center;
    padding: 2px;
    border: solid 1px grey;
  }
  .create-div{
    width: 100%;
    position:relative;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #B4AEE8;
    border: solid 1px grey;
  }

}